.app {
  background: #19243c;
  padding: 100px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
}

h2 {
  color: #00efa3;
  font-family: 'Work Sans', sans-serif;
}

